
<!-- <main>

<header>
    <h1 class="h1">UMS</h1>
</header>

<div>
    <a [routerLink]="'Home'">Home</a>
    <a [routerLink]="'Register'">Register</a>
    <a [routerLink]="'Unlock'">Unlock Account</a>
    <a [routerLink]="'Login'">Login</a>
    <a [routerLink]="'Logout'">Logout</a>
</div>
</main> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">UMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['Home']" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login" [routerLink]="['Login']" routerLinkActive="active-link">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['Register']" routerLink="register" >Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="unlock" [routerLink]="['Unlock']" routerLinkActive="active-link">unlock-account</a>
          </li>


        </ul>
      </div>
    </div>
  </nav> -->



<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: black;" href="#">UMS</a>
    <button mat-icon-button color="primary" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span  class="navbar-toggler-icon"><i class="fa-solid fa-sliders"></i></span><br> -->
      <mat-icon>menu</mat-icon>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['Login']" href="#">Log-In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Register']" href="#">Register</a>
        </li>
        
          
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
