<div class="container">
    <header>
        <h1>Forgot Password</h1><hr>
    </header>
    <section>
        <form [formGroup]="shubham">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="emailId" class="form-label">Enter E-Mail</label>
                        <input  type="text" [ngStyle]="{borderColor:bcolor,boxShadow:scolor}" name="emailId" formControlName="emailId" class="form-control">
                      <span *ngIf="!shubham.get('emailId')?.valid && shubham.get('emailId')?.touched">* Enter Valid E-Mail</span>
                    </div>
                    <div class="form-group">
                        <button class="m-3" mat-raised-button> <a [routerLink]="['/Login']"> < Back</a></button>
                        <button (click)="pwdGet()" class="m-3" mat-raised-button color="primary" >Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

<!-- box-shadow: 0 0 13px inset #ff0000c4; -->