 button{
    position: relative;
    left: 140px;
    
}
main{
    display: flex;
    flex-direction: column;
}
.container{
    /* border: 1px solid gray; */
    /* width: 510px;
    height: 600px; */
    width: 510px;
    flex-grow: 1;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 1px rgb(180, 199, 199);
}
h1{
    padding-top: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
small{
    color: red;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px inset #ff0000c4
}

select.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px inset #ff0000c4;
    /* box-shadow: 0 0 13px inset rgb(149, 240, 149); */
}
.success{
    border-color: green;
}
@media all and (max-width:400px){
    main{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 90%;
        
    }
    button{
        position: relative;
        left: 80px;
    }
}

@media all and (max-width:300px){
    main{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 90%;
        
    }
    .btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: -70px;
    }
}

@media all and (max-width:350px){
    button{
        position: relative;
        left: 40px;
    }
    .btn{
        margin-left: -80px;
    }
}

@media all and (max-width:450px){
    main{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 90%;
        
    }
    .btn{
        margin-left: -80px;
    }
}


@media all and (max-width:500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 90%;
        
    }
    button{
        position: relative;
        left: 90px;
    }
    .btn{
        margin-left: -80px;
    }
}